<div class="container">
    <div class="row">
        <div class="burgerContainer col-12">
            <p class="title"><strong>Yummy Burger App!</strong></p>
            <img class="burgerImage"
                src="/assets/img/img.png" />
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <form class="create-form">
                        <div class="form-group">
                            <p style="margin: -20px; font-size: 20px"><strong>Burger Name:</strong>
                            <p>
                                <br>
                                <input style="border-radius: 3px; outline: none; text-align: center" id="burger"
                                    type="text">
                        </div>
                        <div class="row">
                            <button style="margin: 0 auto;" type="submit" class="btn btn-secondary">Add Burger</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="burgerQueue d-flex justify-content-center col-5">
            <div class="container">
                <div class="row">
                    <p>Burgers Ready To Eat:</p>
                    <div class="col-12">
                        <ul>
                            {{#each burgers}}
                            {{#unless devoured}}
                            <div style="margin: 5px auto;">
                                <div><i class="fas fa-hamburger"></i><strong>{{burger_name}}</strong>
                                    <br>
                                    <button data-burgerid="{{id}}" class="devour_btn btn btn-success"
                                        type="button">Devour!</button>
                                    <hr>
                                </div>
                            </div>
                            {{/unless}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="burgerDevoured d-flex justify-content-center col-5">
            <div class="container">
                <div class="row">
                    <p>Devoured Burgers:</p>
                    <div class="col-12">
                        <ul>
                            {{#each burgers}}
                            {{#if devoured}}
                            <div style="margin: 5px auto;">
                                <strong>{{burger_name}}</strong>
                                <br>
                                <button type="button" class="delete btn btn-danger"
                                    data-id="{{this.id}}">Delete!</button>
                                <hr>
                            </div>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>